* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
}
body {
    min-height: 100vh;
    background-color: #fcfaf1;
}
body, .time, .leftSide,.rightSide, .date , .day{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightSide{
    flex-direction: column;
}
.digitalClock{
    background-color: #000;
    color: #fafafa;
    padding: 20px 40px;
    width: 425px;
    border-radius: 20px;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.5);
}
#hours{
    font-size: 6rem;
    font-weight: 600;
}
#dots{
    font-size: 5rem;
     font-weight: 800;
     /* font-family: 'Times New Roman', Times, serif; */
     margin-left: 20px;
     margin-right: 20px;
     
} 
#minutes{
    font-size: 4rem;
    font-weight: 600;
}
#seconds{
    font-size: 1.5rem;
    font-weight: 600;
}
#ampm{
    font-size: 1.5rem;
    font-weight: 600;
    color: yellow;
}
.rightBottom{
    margin-left: 75px;
    transform: translateY(-15px);
}

#dd, #ddmmyy{
    font-size: 2rem;
    font-weight: 400;
}